<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.matematicamente">

    <application
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:icon="@drawable/ic_logo_violeta"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".WonActivity"></activity>
        <activity android:name=".curiosities.CuriositiesActivity" />
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".graphics.GraphicsActivity" />
        <activity android:name=".contact.ContactActivity" />
        <activity android:name=".trivia.TriviaActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>